@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-initial-color: rgb(18, 18, 18);
  --bg-ending-color: rgb(0, 0, 0);
  --page-padding: 2rem;
  --page-header-height: 28px;
  --page-header-total-height: var(--page-padding) * 2 + var(--page-header-height);
  --page-h-screen: calc(100dvh - var(--page-padding) * 3 - var(--page-header-height));
}

html, body {
  color: rgb(255, 255, 255);
  background: linear-gradient(var(--bg-initial-color), var(--bg-initial-color)) var(--bg-initial-color);
  background-color: var(--bg-initial-color);
}

.bg-initial-color {
  background: var(--bg-initial-color);
}

.page-screen {
  min-height: var(--page-h-screen);
}

.blur-view {
  @apply px-2 py-0.5 rounded-full backdrop-blur-xl bg-neutral-500/50 border border-white/10;
}

.on-reveal-blur {
  animation: 1s ease-in-out 0s 1 entranceBlurAnimation;
}

@keyframes entranceBlurAnimation {
  from {
    filter: blur(6rem);
    opacity: 0;
    transform: translateY(4rem);
  }
  to {
    filter: blur(0rem);
    opacity: 1.0;
    transform: translateY(0rem);
  }
}

@keyframes dismissBlurAnimation {
  from {
    filter: blur(0rem);
    opacity: 1;
  }
  to {
    filter: blur(6rem);
    opacity: 0;
  }
}

.on-dismiss-blur {
  animation: 500ms ease-in-out 0s 1 dismissBlurAnimation forwards;
}

.header-menu-reveal {
  animation: 250ms ease-in 0s 1 headerRevealAnimation;
}

.header-menu-dismiss {
  animation: 250ms ease-in 0s 1 dismissBlurAnimation;
}

@keyframes headerRevealAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
